include _mixins/_nav

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Express with pug
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/main.css")
body
    #root
        .header
            h1 My great app
            .mt-5
            +nav
        .container
            block container